*{
	padding: 0;
	margin: 0;
	font-family: 黑体;
}

html{
	font-size: 40px;
}

ol,ul,li { list-style:none; }

body{
    -webkit-overflow-scrolling:touch;
}

a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color:rgba(0,0,0,0); /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
}

a, img {
    -webkit-touch-callout: none; /*禁止长按链接与图片弹出菜单*/
}

body{ 
	width: 100%;
	height: 100%;
	background-color: #e6ecf3;
}

.wrapper{
	height: 1732px;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.contain{
	width: 100%;
	height: 100%;
	margin-bottom: -3.5rem;
    padding-bottom: 3.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling:touch;
    flex:1;
    overflow: scroll;
}