.header{
	width: 100%;
	height: 8.66%;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header img{
	height: 1.5rem;
	width: 1.5rem;
}

.header p{
	font-weight: bold;
	color: #353535;
	font-size: 1.5rem;
}

#blank{
	width: 1.5rem;
    height: 1.5rem;
}

#grade{
	height: 17.5%;
	width: 100%;
	background-color: #ffffff;
	opacity:0.5;
	display: flex;
	flex-direction: column;
}

#grade ul{
	align-self: center;
	margin:auto 0;
}

#grade ul li{
	float: left;
}

#grade ul li img{
	height: 1.5rem;
	width: 1.5rem;
}

#grade p{
	color: #666666;
	font-size: 1rem;
}

#explain p{
	width: 60%;
	margin-left: 10%;
	margin-top: 10%;
	color: #353535;
	font-size: 1rem;
}


