.header{
	width: 100%;
	height: 8.66%;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header img{
	height: 1.5rem;
	width: 1.5rem;
}

.header p{
	font-weight: bold;
	color: #353535;
	font-size: 1.5rem;
}

#blank{
	width: 1.5rem;
    height: 1.5rem;
}

.message{
	border-radius: 0.5rem;
	width: 22rem;
	height: 5rem;
	background-color: #ffffff;
	opacity:0.75;
}

.contain{
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
}

.all{
	align-self: flex-start;
	margin-top: 2rem;
}

.message{
	margin-top: 1rem;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	align-content: space-between;
}

.icon{
	display: flex;
	align-items: center;
	margin-bottom: 0.3rem;
}

.icon p{
	margin-left: 0.8rem;
}

.icon img{
	margin-left: 0.8rem;
	width: 1.2rem;
	height: 1.2rem;
}

.blank2{
	height: 1rem;
}

.alltime{
	margin-left: 2.5rem;
}

.AllTime{
	font-weight: bold;
	font-size:1.5rem;
}
